body{
   text-align: center;
   background-color: #011F3F;
}

#coin-side{
   font-family: 'Press Start 2P', cursive;
   font-size: 3rem;
   margin: 5%;
   color: #FEF2BF;
}

.container{
   display: block;
   width:50%;
   margin:auto;
}

.sideimg{
   height: 300px;
   width: 300px;
   border-radius: 100%;
   border: 5px solid #4dd0e1;
   background-color: white;
   position: relative;
   left: 32%;

}

.bruh{
   position: absolute;
   top:600px;
   left:42%;
   width: 250px;
}